#app {
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    border: 1px black solid;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
    align-items: center;
}

main {
    width: 100%;
    padding: 12px;
}

#temperature {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    padding: 60px;
    border: 1px solid black;
    font-size: 36px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

footer button {
    width: 50%;
    height: 36px;
}