.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
